// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$sidebar-columns: 5;
$content-columns: $blueprint-grid-columns - $sidebar-columns;

$blueprint-font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
$hdr-font: Futura;
$blueprint_font_size: 16px;

$margin-bgc: #e8eaec;
$border-main: #a0a0a0;
$hilite-bgc: #e0e0e0;
$hilite-border: #ccc;
$lt-bgc: #fff;
$dk-bgc: #000;
$dk-border: #000;
$err-bgc: #ff0000;
$body-text: #303030;
$light-blue: #C0D3E1;
$dark-blue: #0000bb;

$input-bgc: #222;
$input-hover-bgc: #111;

$std-border: 2px solid $border-main;
$thin-border: 1px solid $border-main;
$thick-border: 3px solid $border-main;

$btn-text-size: 60%;
$body-text-size: 90%;
$med-text-size: 126%;
$big-text-size: 146%;
$lg-text-size: 185%;