// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";
// @import "blueprint/fancy-type";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/min";
@import "compass/utilities/lists/horizontal-list";
@import "compass/layout/stretching";

@include font-face("Cantarell", font-files("/stylesheets/Cantarell/Cantarell-Regular-webfont.ttf", truetype, "/stylesheets/Cantarell/Cantarell-Regular-webfont.otf", opentype));

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	@include blueprint-scaffolding;
  // @include fancy-type;

	background-color: $margin-bgc; 
	.strong {font-weight: bold;}
	.big {font-size: $big-text-size;}
  .inner-content-columns {@include column_last(1);}
	
	#container {
		@include container;
		margin-top: 2px;
		line-height:1.4em;
		color: $body-text;
		background-color: $hilite-bgc;
		border: $std-border;
		h1, h2, h3 {font-family: $hdr-font;}
		
		a {
			@extend .strong;
			color:$dk-bgc;
			text-decoration: none;
		}

		header, footer {
			@include column($blueprint-grid-columns, true);
			background-color: $lt-bgc;
		}
		
		hr {
			@include colruler($dk-bgc);
		}
		
		footer {
			@include sticky-footer(60px);
			text-align: center;
			background:$dk-bgc;
			color:$lt-bgc;
			padding-top: 1em;

			a {color: $lt-bgc;}
		}
	

    header {
      @include column($blueprint-grid-columns, last);
      font-size: $body-text-size;

      #banner-img {
        @include column(5);
        margin-top: 4px; 
        margin-left: 14px; 
      }

      #org_title, #tagline {
        font-family: $blueprint-font-family;
        @include column(11);
        @include push(1);
      }

      #org_title {
        padding-top:14px;
        font-size:2.6em;
        font-weight:normal;
        letter-spacing: 0px;
        margin-bottom: 0em;
        a {color: $dk-bgc;}
      }

      #login-block {
        @include column(6, true);
        @include push(2);
        margin-top: -8px;
        a {
    			@include std_button();
          font-size: $btn-text-size;
        }
      }

      #tagline {
        font-size:1.8em;
        margin-top: 8px;
        margin-bottom: 0em;
        color: $dk-bgc;
        letter-spacing: 1px;
        font-weight: normal;
      }
    }

    nav {
      @include column($blueprint-grid-columns,true);
      @include min-height(2.2em);
      line-height:2.2em;
      border-top: $std-border;
      border-bottom: $std-border;
      background: $lt-bgc;
      color:$dk-bgc;
      margin-top: 1em;

			> ul {
        @include horizontal-list;
        @include prepend(5);
			}
      li {
        @include column(3);
        @include border($lt-bgc, 1px); 
        text-align: center; 
        a {
        	@include column(3);
          color: $dk-bgc;
          font-size:0.8em;
          font-variant: small-caps;
          letter-spacing: 0.1em;
        }
        &.selected {
          background: $offset-color;
        }
        :hover {
          background:$dk-bgc;
        }
        &.selected, :hover {
          color: $lt-bgc;
					a {
						color: $lt-bgc;
					}
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    * html nav a {width:1%;}

		sidebar {
			// One third of the grid columns, rounding down. With 24 cols, this is 8.
			@include column($sidebar-columns);
      @include opaque;
			background: $hilite-bgc;

      // padding-top: 10px;
      // margin-right: 0em;

			h2 {
				color: $dk-bgc; 
				font-size: 1.5em; 
				@extend .strong; 
				margin: 0px 6px 10px;
			}
			p {margin-left: 6px;}

			ul {
				list-style-position: inside; list-style-type: none; margin-left: 6px;
				font-size: 0.8em; 
				line-height: 1;
				li {margin-bottom: 5px;}
			}

			.photoblock {
				@include column($sidebar-columns, last);
				padding-top: 10px;

				img {
					width: 160px;
					vertical-align: top;
					padding: 10px 10px 10px 15px;
				}
			}
		}

		sidebar, #content {
			@include min-height(500px);
			margin-top: 1em;
		}
		
		.button-like {
			@include std_button();
		}

		#content {
			@include column($content-columns,true);
			background-color: $hilite-bgc;
  		overflow: auto;
			
			#content-inner {
				@include prepend(1);
				@extend .inner-content-columns;
				padding-top: 20px;
				@include min-height(490px);
				background-color: $lt-bgc;
				
				h2, .page-title {
					margin-bottom: 10px;
					letter-spacing:-1px;
					line-height: 1.0;
					color: $dk-bgc;
					@extend .strong;
				}
				h3 {margin: 20px 0px; font-size: 1.6em; font-weight: normal;}

				.page-title {font-size: 30px;}
				#event-title {@extend .inner-content-columns;}
				h2 a {
				  font-weight: normal;
				  font-size: 2em;
				}
				
				.gen_page {
					font-size: $body-text-size;
					line-height: 1.3;
					
					div, h2 {margin-bottom: 10px;}
					h2 {
						color: $dk-bgc;
						font-size: 1.2em;
						@extend .strong;
						letter-spacing: normal;
					}
					
					.user {
					  margin-bottom: 2px;
					  div {margin-bottom: 0px;}
        	}
				}
			}
		}
		
		#current-text {font-size: 1.7em; margin-bottom: 10px;}

		.is-special {
		  color: $err-bgc; 
		  font-variant: small_caps; 
		  margin-bottom: 10px;
		  font-size: $med-text-size;
		}
		#speaker-names {
			font-size: 1.7em;
			color: $dk-bgc;
			line-height: 1.2em;
			a {
				font-weight: normal;
				color: $dk-bgc;
			}
		}

		#msgHolder {
			@include push(1);
			@include prepend(1);
			@include column_last(5);
			margin-top: 10px;
			border: 3px solid yellow;
			background-color: $dk-bgc;
			color: rgb(192, 192, 192);
			font-size: $lg-text-size;
			@extend .strong;
			display: none;
			padding-top: 0.6em;
			padding-bottom: 0.6em;
		}
		
		#event-infobox {
			@include column_last(7);
			color: $body-text;
			
			line-height:1.5em;
			margin-top:5px;
			margin-bottom:10px;
			padding-top: 10px;
			border-top: $thick-border;
			border-bottom: $thick-border;
			
			.location a, .calLink {font-weight: normal;}
			.calLink {
        font-size: $btn-text-size;
        padding: 5px;
				&:hover {
				  background-color: $hilite-bgc;
      		color: $dk-bgc;
				}
			}
		}

		.rsvpdiv {
			margin-top: 0.5em;
		  border-top: $thick-border;
			@extend .inner-content-columns;
			margin-bottom: 1em;
			
			#regularPPL {
			  @include column(5);
			}
			#studentPPL {
			  @include column_last(5);
			}
			.extra-bottom {padding-bottom: 6px;}
		}
		
		#meeting-description, #speaker-description {
			@include column_last(2);
		}
		
		.speaker {
			margin-top: 1em;
			.speaker-image {
				float: left; 
				margin-right: 20px; 
				margin-top: 4px;
				img {width: 160px;}
			}
		}
		
    .list_row {
			@extend .inner-content-columns;
			&.last {border-bottom: none;}
			.event-date {
				@include column(2);
				padding-left: 0.4em;
			}
    }
  	.list_even, .list_odd {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
  	.list_even {
  	  background-color: $hilite-bgc;
  	}
		.list_label {
		  @include column(3);
			color: $offset-color;
		}
		.list_detail {
			@include column_last(5);
			margin-bottom: 0em;
		}

		.list-group-header {
			@include column_last(2);
			font-size: $med-text-size;
			background-color: $dk-bgc;
			color: $lt-bgc;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		
			div {
				@include column_last(3);
				padding-left: 0.4em;
				@extend .strong;
				margin-bottom: 0em;
				letter-spacing: .2em;
			}
		}

  	#contact-form {
  	  display: block;
   		@extend .inner-content-columns;
   		label {@include column(2);}
   		input[type=submit] {margin-top: 10px;}
 		}

		#sponsorBlock {
			@include column($blueprint-grid-columns);
			border-top: $thick-border;
			background-color: $lt-bgc;

			h2 {
				border-bottom: $thin-border;
				color: $dk-bgc;
				padding-top:10px;
				padding-bottom:10px !important;
				margin-bottom:10px;
				text-align:center;
				font-size: 1.6em;
			}
			#sponsorLogos {
				@include column($blueprint-grid-columns, true);
				@include push(2);
				margin-bottom: 1em;
				text-align: center;
				
				.sponsor {@include column(5);}
				img {vertical-align: bottom;}
			}

  		.logoWD img {width: 120px;}
  		.logoHT img {height: 75px;}

		}
		
		form {
			@include blueprint-form;
			@extend .inner-content-columns;

			fieldset {
				border: 0;
				label {
					display: inline-block;
					width: 120px;
				}
			}
			
			p {
			  @extend .inner-content-columns;
			  margin-bottom: 0.5em;
			}
			.reg_label {
			  width: 300px;
			  display: inline-block;
			  margin-right: 12px;
			}
			#member_street {@include column($content-columns - 11);}
			#member_city {@include column(3);}
			#member_state {@include column(1);}
			#member_zip {@include column(2, true);}

			input[type=submit] {
        // background: $input-bgc url('/images/icons/overlay.png') repeat-x;
				display: inline-block;
				padding: 5px 10px 6px;
				color: $lt-bgc;
				text-decoration: none;
				@include border-radius(6px);
				@include box-shadow;
				border: 0px;
				border-bottom: $thin-border;
				position: relative;
				cursor: pointer
			}

			input[type=submit]:hover {
				background-color: $input-hover-bgc;
				color: $lt-bgc;
			}

			ol {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
		}
	}
	
	#socnet_links, #tweets-anywhere-container {
		@include column($sidebar-columns - 0.75);
		margin-left: 14px;
	  @include border-radius(8px, 8px);
	  background-color: $lt-bgc;
	  
	}
	#socnet_links {
	  padding: 1em 0 1px;
	  h2 {font-family: $blueprint-font-family;}

		#soc-networks {
			list-style: none;
			padding-left: 0em;
			width: 120px;
			li {
			  @include column($sidebar-columns - 1.25);
			  a {margin-left: 2em;}
		    line-height: 1.5;
		  }
	    .twitter {background: url('/images/logos/twitter.jpg') no-repeat;}
	    .facebook {background: url('/images/logos/facebook.jpg') no-repeat;}
	    .linkedin {background: url('/images/logos/linkedin.jpg') no-repeat;}
	    .yahoo {background: url('/images/logos/yahoo.jpg') no-repeat;}
	  }
	}

  #social-shares {
    vertical-align: top; 
    padding-top:10px;
    .twitter-share-button {height: 25px !important;}
  }
  
  #tweets-anywhere-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.4em;
    #tweets-anywhere {
      margin-left: 0.5em;
      .jta-tweet-list {
        overflow:auto;
        height: 300px;
        margin-right: 5px;
      }
    }
    .jta-tweet-user-screen-name-link {color: $offset-color;}
  }
  #flash {
    @include column($content-columns, true);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: $lt-bgc;
    & div {
      @include column_last(2);
      @include push(1);
      margin-bottom: 0;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: $med-text-size;
    }
    #flash_notice {
      background-color: yellow;
      color: $dk-bgc;
    }
    #flash_alert {
      background-color: $err-bgc;
      color: $lt-bgc;
    }
  }
}
