#social-shares
	= link_to(image_tag('icons/calendar_day.png', :style => 'height: 25px;', :title => 'Add to Calendar', :alt => 'Add to Calendar'), {:action => :calendar, :id => @event.id, :protocol => "webcal", :format => :ics, :only_path => false}, :class => 'calLink') if @event.is_current?
	= link_to t(:tweet), "http://twitter.com/share", :remote => true, :data_count => "none", :data_via => Setting.retrieve("twitter_account"), :class => "twitter-share-button"
	%script{ :type => "text/javascript", :src => "//platform.twitter.com/widgets.js" }
	%iframe{:src => "http://www.facebook.com/plugins/like.php?href=#{request.url}&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=25", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:340px; height:25px;", :allowTransparency => "true"}
