#navigation
	%ul
		- @nav_links.each do |nl|
		  = render :partial => 'layouts/nav_item', :locals => {:nav => nl[:top]}
			- if nl[:sub].present?
			  - nl[:sub].each do |sl|
  		    = render :partial => 'layouts/nav_item', :locals => {:nav => sl[:top]}
			  
