#tweets-anywhere-container
	%h2= raw t(:latest_news) + ' ' + link_to(image_tag("http://twitter-badges.s3.amazonaws.com/t_small-a.png", :alt => t(:follow) + " "+ Setting.retrieve('twitter_account') + " on Twitter"), "http://www.twitter.com/"+Setting.retrieve('twitter_account'))
	#tweets-anywhere